.container-1,.container-2,.container-3,.container-4,.container-5{
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.flex-box-container-1,.flex-box-container-2 , .flex-box-rps , .flex-box-pick-color,.flex-box-row-1,.flex-box-row-2,.flex-box-row-3{
    display: flex;
    border: 1px solid rgb(10, 10, 10);
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}

.container-2 ,.container-3{
    border: 1px solid rgb(194, 13, 13);
    margin: 0 auto;
    width: 75%;
    text-align: center;
}



.flex-box-container-2  img {
    margin: 10px;
   box-shadow: 0px 10px 50px black;
}

.flex-box-rps img:hover{

    box-shadow: 0px 10px 50px blue;
}


.flex-box-row-1,.flex-box-row-2{
    background-color: rgb(4, 94, 4);
    color: aliceblue;

}
.flex-box-row-1 div img{
    margin: 10px;
    height:100px;
    width:100px;
   
}

.flex-box-row-2 div{
    padding: 10px;
    border: 1px solid black;
    
}
.flex-box-row-2 button{
    padding: 10px;
    border: 1px solid black;
}


.flex-box-row-1 div{
    border: 1px solid black;
    padding: 10px;
    height: 350px;
    text-align: center;
   flex: 2;

}
table,th,td{
    padding: 5px;
    border: 1px solid black;
}